    /*common*/
    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
    }

    body {
        background-color: #000;
        color: #fff;
        transition: 0.3s;
        font-family: "Pretendard";
        word-break: keep-all;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        transition: 0.3s all;
        margin: 0;
        padding: 0;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* root */
    :root {
        /* font-size */
        --size-xsm: 1.4rem;
        --size-sm: 1.6rem;
        --size-middle: 2.0rem;
        --size-large: 2.6rem;
        --size-big: 3.2rem;
        --size-xbig: 5.2rem;
        --size-2xbig: 12rem;
        --size-3xbig: 15rem;
        --size-4xbig: 20rem;

        /* weight */
        --weight-l: 300;
        --weight-r: 500;
        --weight-b: 700;
        --weight-bk: 900;
    }

    /*header start*/
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        font-size: var(--size-big);
        z-index: 1000;
    }

    nav>ul {
        display: flex;
        position: relative;
        gap: 30px;
    }

    nav>ul>li>a:hover {
        color: #F4010A;
    }

    nav ul ul a:hover {
        color: #F4010A;
    }

    nav a {
        padding: 10px 0;
    }

    nav ul ul {
        position: absolute;
        top: 100%;
        border-top: 3px solid #fff;
        font-size: var(--size-middle);
        background-color: #000;
        padding: 0 10px;
        display: none;
    }

    .menu_btn {
        line-height: 30px;
        display: none;
    }

    nav ul>li:nth-child(4) .submenu {
        right: 3px;
    }

    /*header responsive*/
    @media(max-width: 1200px) {
        nav ul {
            display: none;
        }

        .menu_btn {
            display: block;
        }
    }

    @media(max-width: 768px) {
        header {
            padding: 0 20px;
            height: 60px;
        }

        .logo img {
            width: 80%;
        }
    }

    @media(max-width: 480px) {
        .logo img {
            width: 50%;
        }
    }

    /*side_bar*/
    .side_bar {
        position: fixed;
        top: 0;
        right: 0;
        width: 40vw;
        height: 100vh;
        z-index: 10000;
        background-color: #000;
        color: #fff;
        padding: 100px 50px 0;
        font-size: var(--size-big);
        font-weight: var(--weight-bk);
        display: none;
    }

    .side_logo {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .side_logo img {
        width: 150px;
    }

    .side_bar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .close_btn {
        position: absolute;
        top: 20px;
        right: 65px;
        width: 20px;
        cursor: pointer;
    }

    /*side_bar responsive*/
    @media(max-width: 768px) {
        .close_btn {
            top: 10px;
            right: 35px;
        }

        .side_bar {
            width: 80vw;
            height: 100vh;
        }
    }