.sec {
    margin-bottom: 200px;
}

.visual {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.video_box {
    position: relative;
    font-family: 'Druk Wide Trial', sans-serif;
    font-weight: 600;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.visual .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    white-space: nowrap;
    color: #fff;
}

.typing-txt {
    display: none;
}


.typing {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000;
    }

    100% {
        border-right: 1px solid #fff
    }
}

/* product start */

.product_sec {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.product_sec a {
    position: absolute;
    right: 50%;
    bottom: 20px;
    transform: translate(50%, 0);
    z-index: 10;
    font-size: 35px;
    font-family: 'Druk Wide Trial', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
}

a:focus {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

button:focus,
:focus-visible {
    outline: none;
    border: none;
}

.fa-chevron-left:before {
    position: relative;
    left: 5px;
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.fa-chevron-right:before {
    position: relative;
    left: 25px;
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Root*/
:root {
    --white-color: #ffffff;
    --lemon-background: #282be2;
    --cherry-background: #4AAC25;
    --zero-background: #F4010A;
}

/* Typography */
h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lexend";
    font-size: 449px !important;
    line-height: normal !important;
    color: var(--white-color) !important;
    margin: 0 !important;
}

/* Cane Image and Wrapper Image */
.cane-image {
    max-width: 265px;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    mask-image: url(../img/cane.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 100% auto;
    mask-size: 100% auto;
    overflow: hidden;
    transform: rotate(10deg);
}

.cane-image img {
    width: 100%;
}

.cane-labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 300% !important;
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.3s;
}

/*Fruits Images */
.fruit-image {
    opacity: 1;
    position: absolute;
}

.image-one {
    max-width: 282px;
    bottom: 100px;
}

.image-two {
    max-width: 247px;
    top: 23%;
    left: 25%;
}

.image-three {
    max-width: 211px;
    top: 23%;
    right: 25%;
}

.image-four {
    max-width: 294px;
    bottom: 100px;
    right: 0;
}

/* After */
.fruit-image::after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #000 3.66%, rgba(0, 0, 0, 0) 92.35%);
    opacity: 0.43;
    filter: blur(7.5px);
    transform: rotate(-6.941deg);
    right: 0;
    width: 173px;
    height: 30px;
}

.image-one::after {
    bottom: -50px;
}

.image-two::after {
    bottom: -200px;
    height: 22px;
}

.image-three::after {
    bottom: -280px;
    width: 103px;
}

.image-four::after {
    bottom: -50px;
}


.section-container-main {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.section-container {
    width: 300vw;
    display: flex;
    position: relative;
    transition: all ease-in-out 0.5s;
    align-items: center;
}

.section {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-color: var(--zero-background);

}

.section:nth-child(2) {
    background-color: var(--cherry-background);
}

.section:nth-child(3) {
    background: var(--lemon-background);
}

/* Add this to your CSS */
/* Buttons */
button {
    position: absolute;
    top: 50%;
    right: 30px;
    z-index: 99;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #000;
    border: none;
    font-size: 40px;
    color: var(--cherry-logo);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

#prevButton {
    left: 30px;
    right: unset;
    display: none;
    transition: all ease-in 0.3s;
}

.wave {
    animation: wave-cherry-effect 4s linear infinite;
    animation-direction: normal;
}

@keyframes wave-lemon-effect {
    0% {
        box-shadow: 0 0 0 0px var(--zero-background),
            0 0 0 0px var(--zero-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--zero-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

@keyframes wave-cherry-effect {
    0% {
        box-shadow: 0 0 0 0px var(--cherry-background),
            0 0 0 0px var(--cherry-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--cherry-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

@keyframes wave-zero-effect {
    0% {
        box-shadow: 0 0 0 0px var(--lemon-background),
            0 0 0 0px var(--zero-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--lemon-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

/*.......... Responsive.............. */
@media screen and (max-width: 1550px) {
    h1 {
        font-size: 350px !important;
    }

    .cane-image {
        max-width: 280px;
    }

    .image-one {
        max-width: 250px;
    }

    .image-two {
        max-width: 215px;
        left: 22%;
        top: 10%;
    }

    .image-three {
        max-width: 180px;
    }

    .image-four {
        max-width: 260px;
        right: 40px;
    }
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 300px !important;
    }

    .cane-image::after {
        width: 150%;
    }

    .image-one {
        max-width: 220px;
    }

    .image-two {
        max-width: 185px;
        left: 18%;
        top: 10%;
    }

    .image-three {
        max-width: 180px;
        right: 18%;
    }

    .image-four {
        max-width: 230px;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 240px !important;
    }

    .cane-image {
        max-width: 250px;
    }

    button {
        height: 80px;
        width: 80px;
        top: 90%;
    }

    .image-one {
        max-width: 180px;
    }

    .image-two {
        max-width: 165px;
        left: 12%;
        top: 12%;
    }

    .image-three {
        max-width: 150px;
        right: 12%;
    }

    .image-four {
        max-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .sec {
        margin-bottom: 100px;
    }

    h1 {
        font-size: 180px !important;
    }

    h2 {
        font-size: 30px;
    }

    .cane-image {
        max-width: 180px;
    }

    button {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }

    .image-one {
        max-width: 180px;
        bottom: 150px;
    }

    .image-two {
        max-width: 145px;
        left: 12%;
        top: 15%;
    }

    .image-three {
        max-width: 130px;
        right: 10%;
    }

    .image-four {
        max-width: 180px;
        bottom: 150px;
    }

    .fa-chevron-right:before {
        left: 13px;
    }

    .fa-chevron-left:before {
        left: -7px;
    }

    .cane-image {
        top: 35%;
    }

    .product_sec a {
        font-size: 30px;
        white-space: nowrap;
    }

}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 90px !important;
    }

    .cane-image::after {
        width: 100%;
    }

    .image-one {
        max-width: 150px;
    }

    .image-two {
        max-width: 115px;
        left: 4%;
        top: 18%;
    }

    .image-three {
        max-width: 100px;
        right: 4%;
    }

    .image-four {
        max-width: 150px;
        right: 0;
    }

    .cane-image {
        left: 40%;
        max-width: 140px;
    }
}

/*redribbon_sec*/
.redribbon_sec {
    width: 100vw;
    display: flex;
    gap: 60px;
}

.img_box {
    width: 60%;
    height: 100%;
    background-image: url(../img/swiper_bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.redribbon_imgs {
    display: flex;
    gap: 20px;
    overflow: hidden;
}



.redribbon_sec .txt_box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100px;

}

.redribbon_sec .txt_box span:last-of-type {
    font-size: 80px;
    margin-bottom: 11.4vw;
}

.redribbon_sec .txt_box a {
    padding: 20px 50px;
    background-color: #F4010A;
    font-size: 30px;
    color: #000;
    border-radius: 20px;
}

.redribbon_sec .txt_box a:hover {
    background-color: #fff;
}

/*redribbon reponsive*/
@media screen and (max-width: 1200px) {
    .redribbon_sec .txt_box {
        font-size: 9.1vw;
    }

    .redribbon_sec .txt_box span:last-of-type {
        font-size: 6.81vw;
    }
}

@media screen and (max-width:768px) {
    .redribbon_sec {
        gap: 30px;
    }

    .img_box {
        background-image: none;
        height: 100%;
    }

    .redribbon_imgs {
        flex-direction: column;
    }

    .redribbon_sec .txt_box a {
        transform: scale(0.8);
        white-space: nowrap;
        padding: 10px 30px;
    }
}

/*insta*/
.insta_logo {
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-size: 20px;
}

:root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: papayawhip;
        --color-bg: navy;
        --color-bg-accent: #2626a0;
    }
}

.marquee {
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: var(--gap);
    -webkit-mask-image: linear-gradient(var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
    mask-image: linear-gradient(var(--mask-direction, to right),
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    -webkit-animation: scroll-x var(--duration) linear infinite;
    animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee__group {
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }
}

.marquee--vertical {
    --mask-direction: to bottom;
}

.marquee--vertical,
.marquee--vertical .marquee__group {
    flex-direction: column;
}

.marquee--vertical .marquee__group {
    -webkit-animation-name: scroll-y;
    animation-name: scroll-y;
}

.marquee--reverse .marquee__group {
    animation-direction: reverse;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
}

@-webkit-keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@-webkit-keyframes scroll-y {
    from {
        transform: translateY(var(--scroll-start));
    }

    to {
        transform: translateY(var(--scroll-end));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(var(--scroll-start));
    }

    to {
        transform: translateY(var(--scroll-end));
    }
}

/* Parent wrapper */
.insta_marquee {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
    margin-top: 100px;
}

.wrapper--vertical {
    flex-direction: row;
    height: 100vh;
}

@-webkit-keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.marquee__group img {
    max-width: 300px;
    object-fit: contain;
}

/*history*/
.history_sec {
    display: flex;
    justify-content: center;
    padding: 0 60px;
    flex-direction: column;
}

.history_txt {
    margin-top: 40px;
    font-size: 24px;
    margin-bottom: 60px;
}

.swiper-slide .txt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 30px;
    font-size: 3vw;
}

.swiper-slide .txt span:last-child {
    font-size: 2vw;
}

/*brand*/